
/* Equivalent to Bootstrap -sm suffix */
@media screen and (min-width: 576px) {
    table {
        table-layout: fixed;
    }
}

/* Prevent different size of last form field (which is missing .pe-3) on screens < 992px (equivalent to Bootstrap -lg suffix) */
@media screen and (max-width: 992px) {
    div.rightmost-responsive {
        padding-right: 1rem!important;
    }
}

.fixed-form-label {
    /* Line up labels when stacked on small screens */
    width: 80px;
    /* Line up label contents with contents of table columns */
    padding-left: 0.5rem;
}

.main {
    padding: 2rem;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hidden {
    display: none;
}